%ul.setup_nav
  %li{:class => active_index == 1 ? "active" : ""}
    %span 1
    手机号码
  %li{:class => active_index == 2 ? "active" : ""}
    %span 2
    手机验证码
  %li{:class => active_index == 3 ? "active" : ""}
    %span 3
    修改密码
  .clearfix
