.client_dashboard
  .client_metrics
    .metric
      .metric_icon
      .metric_desc
      .metric_data

    .metric
      .metric_icon
      .metric_desc
      .metric_data

    .metric
      .metric_icon
      .metric_desc
      .metric_data

    .metric
      = fa_icon("plus 3x")
    .clearfix
