%tr
  %td 价格
  %td
    = f.text_field :price
    %span 例如: 500
%tr
  %td 提示
  %td
    = f.text_field :notice
    %span 例如: 数量有限， 特价包月

-#%tr
  -#%td 结束时间
  -#%td
    -#= f.text_field :end_at, :class => "date"
    -#%span 例如:

