.navbar.header
  .navbar-header
    %a.navbar-brand{:href => '/'} BTCall
  %ul.nav.navbar-nav.pull-right
    %li
      %a{:href => "/"} 我的胜率(54%）
    %li
      %a{:href => "/"} 我的资产(1000.29￥）
    %li
      %a{:href => "/"} 交易大厅
    %li
      %a{:href => "/register"} 注册
    %li
      %a{:href => "/login"} 登陆
    %li
      %a{:href => "/dashboard"} 管理

