- if flash[:notice]
  .row
    .alert.alert-info{:role => "alert"}= flash[:notice].gsub(/^[a-zA-Z]*/, "")

- if flash[:alert]
  .row
    .alert.alert-warning{:role => "alert"}= flash[:alert].gsub(/^[a-zA-Z]*/, "")

.row.hidden#notice_bar
  .alert.alert-warning{:role => "alert"}
