.user_nav_bar
  = link_to "< è¿”å›", mobile_setting_path
.user_page
  - if @page.title == "about"
    = image_tag asset_path("about.jpg")
  - elsif @page.title == "help"
    = image_tag asset_path("help.jpg")
  - else
    = raw @page.content


:javascript
  $(document).ready(function(){
    $(".user_page img").attr("width", screen.width)
  });
