#autocomplete
  #search_place
    %input{:placeholder => "例如： 中关村", :name => "search", :id => "search_input"}
  %ul#autocomplete_list
    %li 中关村
    %li 中关村
    %li 中关村
    %li.autocomplete_item_last 中关村



#hot_places

= javascript_include_tag 'hot_place'
