.blank50
#autocomplete
  #search_place
    %input{:placeholder => "请输入搜索地点", :name => "search", :id => "search_input"}
    %ul#autocomplete_list.hidden
  %button#autocomplete_confirm_btn 确定

#search_history
  .search_history_empty
    .search_history_empty_name
      %span
      清除历史记录


#hot_places

= javascript_include_tag 'hot_place'
