.blank50
#autocomplete
  #search_place
    %input{:placeholder => "请输入搜索地点", :name => "search", :id => "search_input"}
  %ul#autocomplete_list.hidden
  %button#autocomplete_confirm_btn 确定

#search_history
  .search_history_item
    .search_history_item_icon
    .search_history_item_name
      西土城
    .search_history_item_remove_icon
  .search_history_item
    .search_history_item_icon
    .search_history_item_name
      知春路
    .search_history_item_remove_icon
  .search_history_item
    .search_history_item_icon
    .search_history_item_name
      国贸
    .search_history_item_remove_icon
  .search_history_empty
    .search_history_item_icon
    .search_history_item_name
      清除所有



#hot_places

= javascript_include_tag 'hot_place'
