#map
  #back_to_original_marker_container
    #back_to_original_marker

#park.hidden
  #park_title.hidden
    #park_title_handlebar
    %span.desc
      #park_name_field
        %span#park_status
          紧张
        %span#park_name
        %label#park_position
          繁忙
      #park_short_description
    %span.nav_button#nav_button_click_area
      .nav_button_icon
      .nav_button_text 线路

  #park_detail.hidden
    .row
      .day_and_night_prices
        .day
          %span.day_icon
          .price_detail
            .price_and_unit
              %span.price#day_price 5元
              %span.unit#day_price_unit /时
            .time_span#day_time_range
              07:00 - 21:00


        .night
          %span.night_icon
          .price_detail
            .price_and_unit
              %span.price#night_price 5元
              %span.unit#night_price_unit /时
            .time_span#night_time_range
              21:00 - 07:00
      .park_preview
        %img{:src => "#{image_path('preview.png')}", :id => "park_preview"}
    .row#tags
    .row#coupon_tags
      %a.coupon_tag#free 免费停车
      %a.coupon_tag#deduct 满减停车
      %a.coupon_tag#time 按次停车
      %a.coupon_tag#monthly 包月停车

    .row
      .lb_notice
      #tips



:javascript
   var place_name = '#{params[:name]}';
= javascript_include_tag 'map'
