#map

#park.hidden
  #park_title.hidden
    %span.desc
      #park_name
      #park_short_description
    %span.nav_button#nav_button_click_area
      .nav_button_icon
      .nav_button_text 导航

  #park_detail.hidden
    .row
      .day_and_night_prices
        .day
          %span.day_icon
          .price_detail
            .price_and_unit
              %span.price#day_price 5元
              %span.unit#day_price_unit /时
            .time_span#day_time_range
              07:00 - 21:00


        .night
          %span.night_icon
          .price_detail
            .price_and_unit
              %span.price#night_price 5元
              %span.unit#night_price_unit /时
            .time_span#night_time_range
              21:00 - 07:00
      .park_preview
        %img{:src => "#{image_path('preview.png')}"}
    .row#tags
    .row
      .lb_notice
        萝卜按:
      #tips



:javascript
   var place_name = '#{params[:name]}';
= javascript_include_tag 'map'
