.user_mine
  .user_info
    .user_profile
      %img{:src => current_user.wechat_user.try(:headimg).try(:thumb).try(:url) || asset_path("vendor_profile.png"), :width => "60", :height => "60"}
    .user_info_phone
      - if current_user.phone
        = current_user.normalized_phone
      - else
        = link_to "请点击绑定会员", bind_mobile_mobile_coupons_path, :class => "user_info_bind_hint"
    .user_info_bg
      %img{:src => asset_path("user_info_bg.png"), :width => "145", :height => "100"}
    .clearfix
  .user_mine_action_list
    .user_mine_action_item
      %a{:href => "/pages/help"}
        .user_mine_action_item_icon.user_mine_action_item_icon_help
        使用帮助
        %span
    .user_mine_action_item
      %a{:href => "/mobile/feedback"}
        .user_mine_action_item_icon.user_mine_action_item_icon_feedback
        意见反馈
        %span
    .user_mine_action_item
      %a{:href => "/pages/about"}
        .user_mine_action_item_icon.user_mine_action_item_icon_about_us
        关于我们
        %span
    .user_mine_action_item
      %a
        .user_mine_action_item_icon.user_mine_action_item_icon_hot_line
        服务热线
        %i.four_zero_zero
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          = Settings.four_zero_zero
