.user_mine
  .user_info
    .user_profile
      %img{:src => asset_path("vendor_profile.png"), :width => "100", :height => "100"}
    .user_info_detail
      .user_info_park_name
        = current_user.park.try(:name)
      .user_info_phone
        = current_user.phone
    .clearfix
  .user_mine_action_list
    .user_mine_action_item
      %a{:href => "/pages/help"}
        .user_mine_action_item_icon.user_mine_action_item_icon_help
        使用帮助
        %span
    .user_mine_action_item
      %a{:href => "/mobile/feedback"}
        .user_mine_action_item_icon.user_mine_action_item_icon_feedback
        意见反馈
        %span
    .user_mine_action_item
      %a{:href => "/pages/about"}
        .user_mine_action_item_icon.user_mine_action_item_icon_about_us
        关于我们
        %span
    .user_mine_action_item
      %a
        .user_mine_action_item_icon.user_mine_action_item_icon_hot_line
        服务热线
        = Settings.four_zero_zero
