.row-fluid
  .lb_form.col-md-10.col-md-offset-1
    = link_to "留存", rentention_staff_vendors_path, :class => "link"
    = link_to "按日", by_day_staff_vendors_path, :class => "link"
    = link_to "按时", by_hour_staff_vendors_path, :class => "link"
    = link_to "按人", by_vendor_staff_vendors_path, :class => "link"
