<script type="text/html" id="item_tmpl">
<%if(item.expired){%>
<div class="user_coupon_item expired_coupon_item" data-id="<%=item.id%>">
<%}else if(item.used){%>
<div class="user_coupon_item used_coupon_item" data-id="<%=item.id%>">
<%}else{%>
<div class="user_coupon_item <%=item.coupon_type_readable%>_coupon_item" data-id="<%=item.id%>">
<%}%>
   <div class="user_coupon_item_head"> </div>
   <div class="user_coupon_item_content">
        <%if(item.expired){%>
        <div class="user_coupon_corner_notion user_coupon_corner_notion_expired"></div>
        <%}else if(item.used){%>
        <div class="user_coupon_corner_notion user_coupon_corner_notion_used"></div>
        <%}else{%>
        <%}%>
       <div class="user_coupon_item_title">
           <div class="user_coupon_item_title_duration">
               <span><%=item.duration%></span>
           </div>
          <%if(item.price && ("" + item.price).match(/\d+/)){%>
           <div class="user_coupon_item_title_price">
          <span class="rmb_icon">￥</span>
           <%=item.price%></div>
           <%} else {%>
           <div class="user_coupon_item_title_price"> 限免 </div>
           <%}%>
       </div>

       <div class="user_coupon_item_detail">
           <div class="user_coupon_item_detail_distance">
              距离您<span><%=item.distance%></span><%if((""+item.distance).match(/\d/)){%>米<%}%>
           </div>

           <span class="user_coupon_item_detail_name"><%=item.park_name%></span>
           <span class="user_coupon_item_detail_type"><%=item.park_type%></span>
       </div>
       <div class="clearfix">
       </div>
   </div>
</div>
</script>
