:javascript
  var park_id = #{params[:park_id] || 0};
.user_coupons_page
  .user_coupons
    .user_coupons_tabs
      %span.user_coupon_tab.user_coupon_published{:class => params[:owned].present? ? "" : "user_coupon_tab_actived"}
        发布中
      %span.user_coupon_tab.user_coupon_owned{:class => params[:owned].present? ? "user_coupon_tab_actived" : ""}
        我的券
      .clearfix
    .user_coupons_list
      #list_place_holder

    .clearfix
= javascript_include_tag "mobile_coupon"
= raw render :text => File.read(File.dirname(__FILE__) + "/_coupon_item_templ.html")
