.user_coupon_tpl_show_page
  .user_nav_bar
    = link_to raw("<span> </span> 返回"), mobile_coupons_path
  .user_coupon_tpl_show_notice
    %p
      %strong
        规则说明:
    %p 1、绑定手机即可领取各类车场免费券、代金券、包月券、包季券等。
    %p 2、使用免费券、代金券时须在出口岗亭展示二维码，收费员扫码核验。
    %p 3、注意二维码的提示，地址错误和时间提前、过期及恶意占用车位无效。
    %p 4、足不出户，即可办理包月等长租服务。
    %p 5、最终解释权归萝卜停车和相关车场所有。
    %p
      6、如需咨询请拨打
      %span.color-blue
        = Settings.four_zero_zero
      。
